/*body {
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
}*/
.z-grid-box-buttons a {
	color: #0000FF;
}

.z-grid-box-buttons i.fa {
	text-align: center;
}

.z-grid-box-buttons .icon-left i.fa {
	margin-right: 0.5em;
}

#z-grid-editor-interface{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.z-button {
	background: #336699 !important;
}
.z-button:hover {
	background: #407FBF !important;
}

#z-grid-groups, #z-grid-add-group{width:100%; float:left; margin-bottom:10px;}
.z-grid-group {
	border-top: 1px solid #DEDFDE;
	width:100%; 
	float:left;
}
.z-grid-group-buttons-left,
.z-grid-group-buttons-right {

}
.z-grid-group-buttons-right{
	min-width:110px; width:8%; display:inline-block;
}
.z-grid-group-buttons-right a{ font-size:12px; padding-left:5px !important; padding-right:5px !important;}

.z-grid-group-settings, .z-grid-add-box, .z-grid-delete-group {
	width: 100%;
	margin-bottom:5px;
}
.z-grid-group-move-handle {
	display: inline-block;
	cursor: n-resize; 
	width: 100%;
	text-align: center;
	text-decoration:none; 
	color:#000;
}

.z-grid-group-placeholder {
	float: left;
	position: relative;
	background: #333333;
}






/* Added so that the overlay will only be positioned for the single column */
.z-grid-box {
	position: relative;
	min-height:155px;
}


.z-grid-boxes {
	max-width:100%; display:inline-block;
	background-color: #DEDFDE;
}



.z-grid-box-placeholder {
	float: left;
	position: relative;
	width: 100%;
	max-width: none !important;
	background: #333333;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 2.000%;
	margin-left: 1.000%;
	margin-right: 1.000%;
}



.z-grid-box-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba( 0, 0, 0, 0.7 );
	z-index: 9000;
	color: #FFFFFF;
	text-align: center;
}
.z-grid-box-overlay .z-grid-box-move-handle {
	cursor: move;
}
.z-grid-box-overlay .z-grid-box-buttons {
	text-align: center;
	width: 80%;
	max-width: 240px;
	margin: 10px auto 0;
}
.z-grid-box-overlay .z-button {
	display: block;
	margin-bottom: 5px;
}

