 
.z-default-subpage-header{ width:100%;text-align:center;  min-height:90px; margin-top:-1px; background-repeat:no-repeat; background-position:top center; float:left; background-size:1920px;
    z-index: 1;
    position: relative; }
.z-default-subpage-title{ display:inline-block; margin-top:278px; color:#FFF; margin-bottom:20px; padding:20px; font-size:48px;}
.z-default-subpage-body-full{width:100%; float:left;}
.z-default-subpage-subpage{ display:table; width:100%; direction:rtl; border-spacing:0px; }
.z-default-subpage-row{ display:table-row; }
.z-default-subpage-left-panel{ display:table-cell; width:280px; direction:ltr; background-color:#CCC; vertical-align:top;}
.z-default-subpage-right-panel{ display:table-cell; padding-bottom:60px;direction:ltr;  vertical-align:top;} 
.z-default-subpage-subcontent{ float:left; width:100%; padding:30px; padding-bottom:60px; background-color:#FFF;}
.z-default-subpage-left-panel-menu ul{ list-style:none; padding-left:0px;
	border-top:1px solid #EEE;}
.z-default-subpage-left-panel-menu a:link, .z-default-subpage-left-panel-menu a:visited{ 
	display:block; width:100%; float:left; font-size:18px;  text-decoration:none; 
	padding:10px; padding-left:30px; padding-right:30px;
	color:#000; 
	border-bottom:1px solid #EEE;
}
.z-default-subpage-left-panel-menu a:hover{ background-color:#DDD; }
.z-default-subpage-subcontent-full{}

.z-default-subpage-left-panel-menu{width:100%; float:left; padding:0px; padding-bottom:20px;}
.z-default-subpage-left-panel-heading{ width:100%; float:left;padding:30px;  padding-bottom:10px;  font-size:120%;}
.z-default-subpage-left-panel-top{width:100%; float:left; padding:30px; padding-top:0px; padding-bottom:20px; }
.z-default-subpage-left-panel-bottom{width:100%; float:left; padding:30px; padding-top:0px; padding-bottom:20px;}
.z-default-subpage-subcontent-spacer{width:100%; float:left; direction:ltr;}

@media screen and (max-width: 1362px) {
	.z-default-subpage-title{ padding:15px; margin-top:223px;font-size:36px;}
	.z-default-subpage-header{ background-size:1536px; } 
}

@media screen and (max-width: 992px) {
	.z-default-subpage-subpage{ direction:ltr;}
	.z-default-subpage-header{ background-size:cover; margin-top: -128px;}
	.z-default-subpage-title{  padding:20px;  padding-top:0px; padding-bottom:0px; font-size:36px; margin-top:260px;} 
	.z-default-subpage-row{ display:block !important; width:100% !important; float:left; }
	.z-default-subpage-left-panel{display:block !important; width:100% !important; float:left; padding-bottom:90px;} 
	.z-default-subpage-right-panel{width:100%; float:left;} 
	.z-default-subpage-subcontent{ padding:20px; padding-bottom:40px;}
	.z-default-subpage-left-panel-menu{ padding:0px;direction:ltr; padding-bottom:10px;}
	.z-default-subpage-left-panel-heading{ padding:20px;  padding-bottom:10px;  }
	.z-default-subpage-left-panel-top{ padding:20px; padding-top:0px; padding-bottom:20px; }
	.z-default-subpage-left-panel-bottom{ padding:20px; padding-top:0px; padding-bottom:20px;}
	.z-default-subpage-left-panel-menu a:link, .z-default-subpage-left-panel-menu a:visited{ 
		padding:10px; padding-left:20px; padding-right:20px;
	}
}
@media screen and (max-width: 767px) {
	.z-default-subpage-header{ margin-top: -105px;}
	.z-default-subpage-title{  padding:10px; font-size:30px;}
	.z-default-subpage-title{ margin-top:200px;}
}
@media screen and (max-width: 479px) { 
	.z-default-subpage-title{ margin-top:150px; font-size:22px;}
}