.z-mobile-header{background-color:#000; width:100%; float:left; position:relative; 
	z-index:10000;
	-webkit-transition: .5s ease-in-out background-color;
	-moz-transition: .5s ease-in-out background-color;
	-o-transition: .5s ease-in-out background-color;
	transition: .5s ease-in-out background-color;}


.z-mobile-header-fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0; 
	background-color: #000000 !important;
}

/* MOBILE MENU ICON */
.z-mobile-menu-icon {
	width: 60px;
	height: 45px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 205;
	-webkit-transform: rotate(0deg) scale(0.8);
	-moz-transform: rotate(0deg) scale(0.8);
	-o-transform: rotate(0deg) scale(0.8);
	transform: rotate(0deg) scale(0.8); 
	cursor: pointer;
} 
.z-mobile-menu-icon span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #FFFFFF;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.z-mobile-menu-icon span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}
.z-mobile-menu-icon span:nth-child(2) {
	top: 18px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}
.z-mobile-menu-icon span:nth-child(3) {
	top: 36px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}
.z-mobile-menu-icon.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -3px;
	left: 8px;
}
.z-mobile-menu-icon.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}
.z-mobile-menu-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 39px;
	left: 8px;
}
.z-mobile-header-spacer{ width:100%; float:left; padding:10px;}

.z-mobile-header .z-mobile-header-logo{ 
	width:20%; max-width:250px;
	float:left; 
}
/* MOBILE MENU */
.z-mobile-header .z-mobile-menu {
	position: fixed;
	top: 0;
	right: -320px;
	bottom: 0;
	z-index: 203;
	display: inline-block;
	background-color: #369;  
	overflow:auto;
	width: 320px;
	opacity: 0;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.z-mobile-header .z-mobile-menu.open {
	opacity: 1;
	right: 0;
	padding-bottom:50px;
}

.z-mobile-header-overlay{
	display:none; 
}
.z-mobile-header-overlay.open {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 202;
	display: inline-block;
	background-color: rgba( 0, 0, 0, 0.6 ); 
}

.z-mobile-header .z-mobile-menu ul,
.z-mobile-header .z-mobile-menu li {
	float:left;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width:100%;
}
.z-mobile-header .z-mobile-menu-spacer{ padding-top:92px; }
.z-mobile-header .z-mobile-menu > ul {  
	position: absolute;
	overflow:auto;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0; 

    width: 100%;
    float: left;
	z-index: 204;
}
.z-mobile-header .z-mobile-menu ul li a {
	display: block;
	padding: 8px 20px; 
	line-height: 1.25em;
	color: #FFFFFF;
	text-decoration:none;
	font-size:20px; 
	width:100%; float:left;
}
.z-mobile-header .z-mobile-menu ul li ul li a {
	color: #FFFFFF;
	padding-left:30px;
}

.z-mobile-header .z-mobile-menu ul li ul{
	display:block;
	position:relative;
	overflow:hidden;
	z-index:1;
}
.z-mobile-header .z-mobile-menu ul li ul li{
	margin-top:0px;
	opacity:1;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
	
}
.z-mobile-header .z-mobile-menu ul li:hover{
	background-color:rgba(128,128,128, 0.3);
}
.z-mobile-header .z-mobile-menu ul li.closed ul{
	display:block;
}
.z-mobile-header .z-mobile-menu ul li.closed ul li{
	margin-top:-100px;
	opacity:0;
}
.z-mobile-menu-top{padding-bottom:10px; width:100%; float:left; }
.z-mobile-menu-bottom{padding-bottom:10px; width:100%; float:left; }

.z-mobile-header-side{ width:40%; text-align:left; float:left;  }
.z-mobile-header-left .z-mobile-header-side{ text-align:right;}

/* classes for making logo in center */
.z-mobile-header-logo-center{ position:relative; width:20%; }
.z-mobile-header-left .z-mobile-header-logo-center{left:40%; }


/* classes for making menu on left */
.z-mobile-header-left .z-mobile-header-side{ float:right; }
.z-mobile-header-left .z-mobile-menu-icon { 
	top: 20px;
	right:auto;
	left: 20px; 
} 
.z-mobile-header-left .z-mobile-menu-icon span { 
	left: auto; 
	right:0; 
} 
.z-mobile-header-left .z-mobile-menu-icon.open span:nth-child(3) { 
	top: -3px;
	left: auto;
	right: 8px;
	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	-o-transform-origin: right center;
	transform-origin: right center;
} 
.z-mobile-header-left .z-mobile-menu-icon span:nth-child(2) {
	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	-o-transform-origin: right center;
	transform-origin: right center;
}
.z-mobile-header-left .z-mobile-menu-icon.open span:nth-child(1) { 
	top: 39px;
	left:auto;
	right: 8px;
	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	-o-transform-origin: right center;
	transform-origin: right center;
}

.z-mobile-header-left .z-mobile-menu {

    right: auto;
    left:-320px;
}
.z-mobile-header-left .z-mobile-menu.open { 
	right: auto;
	left:0;
}

@media screen and (max-width: 1362px) { 
}

@media screen and (max-width: 992px) {

	.z-mobile-header .z-mobile-header-logo{ 
		width:150px; 
	}
 	.z-mobile-header-tablet-phone-link{margin-top:10px; width:100%; float:left; font-size:28px; color:#FFF; text-decoration:none; white-space:nowrap;}
 	.z-mobile-header-tablet-phone-link:hover{color:#FFF;}
}

@media screen and (max-width: 767px) {
	.z-mobile-header { 
	}
	.z-mobile-header .z-mobile-location-icon {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 201;
		display: inline-block;
		padding: 10px;
	}
	.z-mobile-header .z-mobile-menu ul li a{
		font-size:18px;
		padding: 7px 15px; 
	}
	.z-mobile-header .z-mobile-location-icon i.fa {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 22px;
	}
	.z-mobile-header .z-mobile-location-icon span {
		font-size: 16px;
	}

	.z-mobile-header .z-mobile-logo a {
		height: 60px;
	}
	.z-mobile-header .z-mobile-logo img {
		margin: 10px 0;
		height: 40px;
	}

	.z-mobile-menu-icon {
		top: 8px;
		right: 8px;
		-webkit-transform: rotate(0deg) scale(0.6);
		-moz-transform: rotate(0deg) scale(0.6);
		-o-transform: rotate(0deg) scale(0.6);
		transform: rotate(0deg) scale(0.6);
	}

	.z-mobile-header .z-mobile-menu-spacer{ padding-top:65px; } 
	.z-mobile-header .z-mobile-header-logo{ 
		width:130px; 
		float:left; 
	}
	.z-mobile-header-tablet-phone-link{ font-size:22px;}
	.z-mobile-header-left .z-mobile-header-logo-center{ 
		left:90px;
	}
}

@media screen and (max-width: 479px) {
	.z-mobile-header .z-mobile-header-logo{ 
		width:35%;
	} 
	.z-mobile-header-logo-center{ 
		width:auto !important;
		float:left !important;
		text-align:left;
	}
	.z-mobile-header-left .z-mobile-header-logo-center{ 
		left:auto;
		float:right !important;
		text-align:right;
		width:auto !important;
	}
	.z-mobile-header-side{ display:none !important;}
	.z-mobile-header .z-mobile-header-logo img{ max-width:110px;}

	.z-mobile-header-mobile-phone-link, .z-mobile-header-mobile-phone-link:link, .z-mobile-header-mobile-phone-link:visited{ float:left;text-align:center; margin-top:5px; display:block; border:1px solid #999; border-radius:5px;  padding:5px;  display:block; clear:both; text-decoration:none; font-size:18px; color:#FFF; white-space:nowrap;}
	.z-mobile-header-left .header-mobile-phone-link, .z-mobile-header-left .z-mobile-header-mobile-phone-link:link, .z-mobile-header-left .z-mobile-header-mobile-phone-link:visited{text-align:center; margin-top:5px; display:block; border:1px solid #999; border-radius:5px; float:right; display:block; clear:both; padding:5px; text-decoration:none; font-size:21px; color:#FFF; white-space:nowrap;}
	.z-mobile-header-mobile-phone-link:hover{color:#FFF;}
}